# Ignorar archivos temporales generados por WPS Office
~$*.docx
~$*.xlsx
~$*.pptx
*.tmp
*.wpslock

# Ignorar archivos temporales generados por LibreOffice
*.~lock.*
*.bak
*.temp

# Ignorar archivos temporales generados por Kate (editor de texto)
.*.kate-swp
*.katesession

# Ignorar archivos temporales generados por otros editores de texto
.*.swp
.*.swo
.*.swn
.*.swm
.*.swo
*.bak
*.tmp

# Ignorar archivos de copia de seguridad generados por algunos editores
*~
