[L10N]
PHONETIC_GUIDE_SUPPORT = true
USE_PHONETIC_GUIDE_ICON = true

ENCOLOSE_CHARACTERS_SUPPORT = true

COMBINE_CHARACTERS_SUPPORT = true

INSERT_NUMBER_SUPPORT = false

; 自动图文集（常规）
AUTOTEXTENTRYCATEGORY = "全般"

;图文场
AUTOTEXTSPIKE  = "スパイク"

; 样式风格的本地代码 0 拉丁语系，1 其他语系 
STYLE_LOCAL_TYPE = 1

TX_FIELD_REGULARTEXT[1] = "大文字"
TX_FIELD_REGULARTEXT[2] = "小文字"
TX_FIELD_REGULARTEXT[3] = "文字目のみ大文字"
TX_FIELD_REGULARTEXT[4] = "タイトル文字"
TX_FIELD_REGULARTEXT[5] = "半角文字"
TX_FIELD_REGULARTEXT[6] = "全角文字"

TX_FIELD_DATE[1] = "yyyy/MM/dd", 1033
TX_FIELD_DATE[2] = "yyyy*年*M*月*d*日*", 1041
TX_FIELD_DATE[3] = "ggge年M月d日(aaa)", 1041
TX_FIELD_DATE[4] = "yyyy年M月d日", 1041
TX_FIELD_DATE[5] = "yyyy/M/d", 1033
TX_FIELD_DATE[6] = "gggE年O月A日", 1041
TX_FIELD_DATE[7] = "EE年O月A日(aaa)", 1041
TX_FIELD_DATE[8] = "yyyy年M月d日(aaa)", 1041
TX_FIELD_DATE[9] = "ggge年M月", 1041
TX_FIELD_DATE[10] = "yyyy年M月", 1041
TX_FIELD_DATE[11] = "yy/M/d H時m分", 1041
TX_FIELD_DATE[12] = "yy/M/d H時m分s秒", 1041
TX_FIELD_DATE[13] = "AMPMh時m分", 1041
TX_FIELD_DATE[14] = "AMPMh時m分s秒", 1041
TX_FIELD_DATE[15] = "H時m分", 1041
TX_FIELD_DATE[16] = "H時m分s秒", 1041
TX_FIELD_DATE[17] = "ggge年M月d日 aaa曜日", 1041
TX_FIELD_DATE[18] = "M/d/yyyy", 1033
TX_FIELD_DATE[19] = "dddd, MMMM dd, yyyy", 1033
TX_FIELD_DATE[20] = "MMMM d, yyyy", 1033
TX_FIELD_DATE[21] = "M/d/yy", 1033
TX_FIELD_DATE[22] = "yyyy-MM-dd", 1033
TX_FIELD_DATE[23] = "d-MMM-yy", 1033
TX_FIELD_DATE[24] = "M.d.yyyy", 1033
TX_FIELD_DATE[25] = "MMM. d, yy", 1033
TX_FIELD_DATE[26] = "d MMMM yyyy", 1033
TX_FIELD_DATE[27] = "MMMM yy", 1033
TX_FIELD_DATE[28] = "MMM-yy", 1033
TX_FIELD_DATE[29] = "M/d/yyyy h:mm am/pm", 1033
TX_FIELD_DATE[31] = "M/d/yyyy h:mm:ss am/pm", 1033
TX_FIELD_DATE[32] = "h:mm am/pm", 1033
TX_FIELD_DATE[33] = "h:mm:ss am/pm", 1033
TX_FIELD_DATE[34] = "HH:mm", 1033
TX_FIELD_DATE[35] = "HH:mm:ss", 1033

TX_FILED_CURTIME[1] = "yy/M/d H時m分", 1041
TX_FILED_CURTIME[2] = "yy/M/d H時m分s秒", 1041
TX_FILED_CURTIME[3] = "AMPMh時m分", 1041
TX_FILED_CURTIME[4] = "AMPMh時m分s秒", 1041
TX_FILED_CURTIME[5] = "H時m分", 1041
TX_FILED_CURTIME[6] = "H時m分s秒", 1041
TX_FILED_CURTIME[7] = "M/d/yyyy h:mm am/pm", 1033
TX_FILED_CURTIME[8] = "M/d/yyyy h:mm:ss am/pm", 1033
TX_FILED_CURTIME[9] = "h:mm am/pm", 1033
TX_FILED_CURTIME[10] = "h:mm:ss am/pm", 1033
TX_FILED_CURTIME[11] = "HH:mm", 1033
TX_FILED_CURTIME[12] = "HH:mm:ss", 1033

;是否支持水印fallback
WATERMARK_FALLBACK_SUPPORT = false

; 是否支持稿纸功能
GENKO_SUPPORT = false

[INDEXPREVIEW]
langid = 1041
sortable = 0
INDEX[1] = ".DOT ファイル名,2,0,1"
INDEX[2] = ".INI ファイル名,3,0,1"
INDEX[3] = "見出し マクロ,,0,1"
INDEX[4] = "索引書式の設定,,0,2,2"
INDEX[5] = "説明,0,0,3,2,0"
INDEX[6] = "索引の挿入,5,0,3,2,0"
INDEX[7] = "サンプル,5,0,2,2"
INDEX[8] = "索引のオプション,6,0,2,2"
INDEX[9] = "記号 マクロ,1,0,1"
INDEX[10] = "セクション区切り,3,0,1"
INDEX[11] = "段組み区切り,3,0,1"