[L10N]
DEFAULT_FONT = "Leelawadee UI"
DEFAULT_WORDART_TEXT_FONT = "Arial Black"
GUI_FONT = "Leelawadee UI Semilight, Leelawadee UI, Leelawadee, Tahoma"
GUI_DIALOG_FONT = "Leelawadee UI Semilight, Leelawadee UI, Leelawadee, Tahoma"
GUI_FONT_SIZE_MIN = 9

; 是否支持全角
FULL_WIDTH_CHARACTER_SUPPORT = false

; 是否支持简繁转换
TCSC_CONVERSION_SUPPORT = false

; 默认单位
DEFAULT_MEASUREMENTUNIT = "cm"

; 是否使用长缩进 
LONG_INDENT = true
